@page "/posts/{theme}"
@using Forum.AppContext
@using Forum.Models
@using Microsoft.EntityFrameworkCore
@using Serilog
@rendermode InteractiveServer

@if (!String.IsNullOrEmpty(errorText))
{
    <h3>@errorText</h3>
}
else
{
    <h3>New post</h3>

    <input @bind-value="@text" />
    <button @onclick="AddPost">Click me</button>

    <h3>Posts</h3>

    @foreach (Post post in posts)
    {
        <p>@post.Id</p>
        <NavLink href="@($"post{post.Id}")">@post.Text</NavLink>        
    }
}




@code {
    [Parameter]
    public string Theme { get; set; } = "";

    private string text = "";
    private List<Post> posts;
    private string errorText = "";

    protected override async Task OnInitializedAsync()
    {
        using (ApplicationContext db = new())
        {
            Theme? theme = await db.Themes.FirstOrDefaultAsync(x => x.Name == Theme);
            if (theme != null)
            {
                posts = await db.Posts.Where(x => x.Theme.Name == Theme).ToListAsync();
            }
            else
            {
                errorText = $"Theme {Theme} is not founded";
            }

        }
    }

    private async Task AddPost()
    {
        using (ApplicationContext db = new())
        {
            Theme? theme = await db.Themes.FirstOrDefaultAsync(x => x.Name == Theme);
            if (theme != null)
            {
                var post = db.Posts.Add(new Post { Text = text, Theme = theme! });
                text = "";
                await db.SaveChangesAsync();
                posts.Add(post.Entity);
            }
            
        }
    }
}
